.ui-selectmenu.ui-popup .ui-input-search {
    margin-left: .5em;
    margin-right: .5em;
}
.ui-selectmenu.ui-dialog .ui-content {
    padding-top: 0;
}
.ui-selectmenu.ui-dialog .ui-selectmenu-list {
    margin-top: 0;
}
.ui-selectmenu.ui-popup .ui-selectmenu-list li.ui-first-child .ui-btn {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-selectmenu.ui-dialog .ui-header {
    border-bottom-width: 1px;
}
#selectField div {
    display: inline-block;
}
.ui-controlgroup-controls {
    float: left;
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*
#selectField {text-align:center;
 font-style: normal;
    font-family:Arial, Helvetica, sans-serif !important;
    background : #3B5998 !important;
    color :  white !important;
}
#content {
    
    text-align:center;
    background:#FFFFFF;
}
.li{
    font-style: normal;
    font-family:Arial, Helvetica, sans-serif !important;
    background : #3B5998 !important;
    color :  white !important;
}
#header {
    
    color :  #3B5998;
     background : white !important;
} */

.li {
    background: #252525 !important;
}
#regionWindow-popup, #subCategoryWindow-popup {
    left: 10px !important;
    right: 10px !important;
}
.iconLeft a {
    padding-left: 2.5em !important;
    padding-right: 1em !important;
}
.iconLeft a:after {
    right: auto;
    left: 9px;
}
.iconright ul {
    padding-right: 2.5em !important;
    padding-left: 1em !important;
}
.iconright ul:after {
    left: auto;
    right: 9px;
}
#photographersList > li > a {
    padding: 0px !important;
}
#segment .ui-link {
    border: 1px solid #AD3C42 !important;
    color: #AD3C42;
    text-shadow: 1px 1px 1px #AD3C42 !important;
}
#segment .ui-btn-active, #photographer-info-nav-bar .ui-btn-active {
    background-color: #AD3C42 !important;
    color: #FFFFFF;
    border-color: #AD3C42 !important;
    text-shadow: #AD3C42 !important;
}
.navbar-bg {
    background-color: #2E2E2E !important;
}
#footer .ui-btn-active {
    background-color: #AD3C42 !important;
    border-color: #AD3C42 !important;
    color: #FFFFFF;
    text-shadow: #AD3C42 !important;
}
.list {
    position: relative;
    padding-right: 10px;
}
.content-class {
    padding: 0px;
    background-color: #353535;
}
.ui-input-search input {
    text-align: right;
}
.ui-input-search:after {
    left: 93%;
}
/*
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 
.ui-header
{
    padding-top: 8%;
}
}
*/


